*__pycache__*
*.pyc
.idea*
bash.sh
kohler/cache/*
.
*.log
*wandb*
*.DS_Store*
qm9/temp/*
kohler/qm9/temp/*
push.sj
bash_qm9.sh
outputs/*
bash_dw4.sh
bash_qm9pos.sh
bash_qm9_analyze.sh
beautiful_figures/ovito_images/*
*toy/samples/*
*toy/loss_components/*
qm9.sh
build/
dist/
*.DS_Store

# Custom
cache/
model.pt
yolov8n.pt
